.myui {
    // .myui.btn
    &.btn {
        background-color: #4caf50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    &.nav {        
        .active {
            background-color: #326ad3;
        }       
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            li {
                float: left;
                a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }
            }
        }
    }
    &.modal {
        padding: 32 16;
        background-color : gainsboro;        
    }
}
